<section class="landing-page-section container-xl">
  <div class="intro-column h-100 col-12 col-lg-8 mx-auto d-flex flex-column align-items-center">

    <div class="rounded-circle central-photo"></div>

    <div class="social-media-links d-flex">
      <div class="link-container">
        <a class="twitter" href="https://twitter.com/__joeburke" target="_blank" ><%= fa_icon "twitter" %></a>
      </div>
      <div class="link-container">
        <a class="github" href="https://github.com/Joseph-Burke" target="_blank" ><%= fa_icon "github" %></a>
      </div>
      <div class="link-container">
        <a class="linkedin" href="https://www.linkedin.com/in/--joeburke/" target="_blank" ><%= fa_icon "linkedin" %></a>
      </div>
      <div class="link-container">
        <a class="medium" href="https://medium.com/@__joeburke" target="_blank" ><%= fa_icon "medium" %></a>
      </div>
    </div>

    <h1 class="font-weight-bold name">Joe Burke</h1>
    <h4 class="name-phonetic">\ˈʤəʊ ‘bɜːk\</h4>
    <h5 class="definition text-center"><span class="font-italic">n.</span> An entry-level developer with boundless potential</h5>
    <p class="mobile-view-intro">
      Hey. My name is Joe and I write code and develop software and stuff.

      Here on my portfolio website, you can check out my all my latest and greatest projects, read about my stack, skills and experiences
      and get to know me a bit better.
    </p>

    <div class="dictionary">
      <div class="tab-bar btn-group d-flex" role="group" aria-label="Basic example">
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #synonyms-card" aria-expanded="false" aria-controls="collapseExample">Synonyms</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #antonyms-card" aria-expanded="false" aria-controls="collapseExample">Antonyms</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #examples-card" aria-expanded="false" aria-controls="collapseExample">Examples</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #famous-quotes-card" aria-expanded="false" aria-controls="collapseExample">Famous Quotes</button>
      </div>

      <div class="collapsed-area">
        <div class="collapse" id="synonyms-card">
          <div class="card card-body flex-row row no-gutters align-items-center">
            <h6 class="col-4 card-title text-center">Honest</h6>
            <p class="col-8 card-text">
              Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
              and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
              desire to break into the industry and land his first job.
            </p>
          </div>
        </div>

        <div class="collapse" id="antonyms-card">
          <div class="card card-body flex-row row no-gutters align-items-center">
            <h6 class="col-4 card-title text-center">Hardworking</h6>
            <p class="col-8 card-text">
              Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
              and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
              desire to break into the industry and land his first job.
            </p>
          </div>
        </div>

        <div class="collapse" id="examples-card">
          <div class="card card-body flex-row row no-gutters align-items-center">
            <h6 class="col-4 card-title text-center">Hardworking</h6>
            <p class="col-8 card-text">
              Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
              and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
              desire to break into the industry and land his first job.
            </p>
          </div>
        </div>

        <div class="collapse" id="famous-quotes-card">
          <div class="card card-body flex-row row no-gutters align-items-center">
            <h6 class="col-4 card-title text-center">Hardworking</h6>
            <p class="col-8 card-text">
              Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
              and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
              desire to break into the industry and land his first job.
            </p>
          </div>
        </div>
      </div>

    </div>


  <div class="tl-dr">
    <span class="mobile-view">
      <strong>
      Pressed for time?
      <br>    
      Cut to the chase:
      </strong>
    </span>

    <span class="desktop-view">
      <strong>TL;DR?</strong>
      Cut to the chase:
    </span>
  </div>

    <ul class="link-list">
      <a href="#who-i-am">Who I Am</a>
      <span>•</span>
      <a href="#projects-section">My Projects</a>
      <span>•</span>
      <a href="#my-stack">My Stack</a>
      <span>•</span>
      <a href="#cv">Curriculum Vitae</a>
  </div>
  </div>


</section>

<section class="projects-section container-xl d-flex flex-column" id="projects-section">
  <div class="header row flex-column align-items-center">
    <h1 class="section-title">Projects</h1>
    <h4 class="phonetic-subtitle">/ˈprɒdʒ.ekts/</h4>
  </div>  

  <div class="projects-grid row flex-grow-1">

    <div class="grid-cell d-flex">
      <div class="cop-26 card left-column flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">COP26</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/html-5.svg"></li>
          <li><img src="/tech-logos/css-logo-with-text.png"></li>
          <li><img src="/tech-logos/sass.svg"></li>          
        </ul>

      </div>
    </div>

    <div class="grid-cell d-flex">
      <div class="card right-column train-track flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">TrainTrack</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/rails-1.svg"></li>
          <li><img src="/tech-logos/ruby.svg"></li>    
          <li><img src="/tech-logos/sass.svg"></li>
        </ul>        
      </div>
    </div>

    <div class="grid-cell d-flex">
      <div class="card left-column a-sailor-a-cook flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">A Sailor, A Cook</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/html-5.svg"></li>
          <li><img src="/tech-logos/css-logo-with-text.png"></li>
          <li><img src="/tech-logos/javascript.svg"></li>          
        </ul>        

      </div>
    </div>

    <div class="grid-cell d-flex">
      <div class="card right-column icebreaker flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">Icebreaker</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/ruby.svg"></li>  
        </ul>

      </div>
    </div>

    <div class="grid-cell d-flex">
      <div class="card left-column tic-tac-toe flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">Tic, Tac, Toe</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/ruby.svg"></li>
        </ul>

      </div>
    </div>

    <div class="grid-cell d-flex">
      <div class="card right-column snake flex-grow-1">
        <div class="cover"></div>
        <h4 class="project-name">Snake</h4>

        <ul class="tech-list">
          <li><img src="/tech-logos/ruby.svg"></li>      
        </ul>

      </div>
    </div>

  </div>
</section>

<section class="further-reading-section container-xl" id="further-reading-section">
  <div class="row flex-column align-items-center">
    <h1 class="section-title">Further Reading</h1>
    <h4 class="phonetic-subtitle">/ˈfɜːðə ˈriːdɪŋ/</h4>
  </div>

  <div class="further-reading-grid">
    <div class="who-i-am cell" id="who-i-am">
      <div class="box">
        <h3 class="box-title">Who I Am</h3>
        <p class="box-text">
          Beneath the glossy veneer of this impressively professional website is a human being known as 
          Joe. I have visited and travelled in dozens of countries. I play the piano and the guitar and 
          I sing and write songs and produce music. I’ve written scores of poems and short stories and 
          I’ve contributed them to small publications. I lived in East Germany for 14 months, Vietnam 
          for 3, Thailand for 3, France for 5. I’ve driven motorbikes but never a car. I speak French and 
          Spanish conversationally and German comically. When I want to exercise, I run, when I want to 
          think, I walk, when I want to relax, I sit and when I want to feel happy, I cook a big vegan 
          meal for whoever’s nearby.
        </p>
      </div>
    </div>

    <div class="my-stack cell" id="my-stack">
      <div class="box">
        <h3 class="box-title">My Stack</h3>
        <p class="box-text">
          I’m currently enrolled on a Full-Stack Web Development course with Microverse. The main stack of 
          the course is as follows: HTML & CSS, Ruby, Ruby on Rails, JavaScript, React & Redux. I’m currently 
          enrolled on a Full-Stack Web Development course with Microverse. The main stack of the course is 
          as follows: HTML & CSS, Ruby, Ruby on Rails, JavaScript, React & Redux. I’m currently enrolled on a 
          Full-Stack Web Development course with Microverse. The main stack of the course is as follows: 
          HTML & CSS, Ruby, Ruby on Rails, JavaScript, React & Redux. I’m currently enrolled on a Full-Stack 
          Web Development course with Microverse.
        </p>
        <ul class="stack-list">
          <li><img src="/tech-logos/html-5.svg"></li>
          <li><img src="/tech-logos/css-logo-with-text.png"></li>
          <li><img src="/tech-logos/sass.svg"></li>
          <li><img src="/tech-logos/bootstrap-4.svg"></li>
          <li><img src="/tech-logos/ruby.svg"></li>
          <li><img src="/tech-logos/rails-1.svg"></li>
          <li><img src="/tech-logos/javascript.svg"></li>
        </ul>
      </div>
    </div>
    
    <div class="say-hello cell">
      <div class="box">
        <h3 class="box-title">Say Hello</h3>
        <p class="box-text">
          Whether you’re an employer looking to fill a role, an entrepreneur in need of a website or 
          just another lost soul wandering aimlessly across this labyrinth we call the Internet, I would 
          always be pleased and honoured to hear what you have to say. You can can get in touch with me 
          using the form below, or if you prefer, via 
          <a href="https://twitter.com/__joeburke">Twitter</a>,
          <a href="https://www.linkedin.com/in/--joeburke">LinkedIn</a> or
          <a href="mailto:joseph_burke@outlook.com?subject=Hey Joe!">e-mail</a>.

          Feedback on my work helps me improve and is always massively appreciated. Life is short, don’t 
          be shy :)

          <%= form_with class: "contact-form" do %>
            <%= text_field_tag :email, nil, placeholder: "What's your e-mail address?" %>
            <%= text_area_tag :message, nil, { class: "message-box", placeholder: "What do you want to say?" } %>
            <%= submit_tag "Send" %>
          <% end %>
      </div>
    </div>

    <div class="cv cell" id="cv">
      <div class="box">
        <h3 class="box-title">Curriculum Vitae</h3>
        <p class="box-text">
          My résumé is a one-page document which succintly outlines my professional experience and skills and
          helps prospective employers determine my suitability for a role in their organisation. If either you or 
          someone you know is looking to fill a role, click below to access and download the document. Many thanks.
        </p>

        <%= link_to("View Résumé", "/resume.pdf", class: "btn btn-primary", target: "_blank") %>

      </div>
    </div>
  </div>
</section>
